/*typewriter */


.typewriter h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space:nowrap;/* Keeps the content on a single line */
  /* overflow-wrap: break-word; */
  margin:0 auto;/* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* ---------------- Log in / register styling ---------------- */
html, body {margin: 0; height: 100%; overflow: hidden}


#homePageStyle {
  border-style: solid;
  border-color: lightslategrey;
  position: fixed;
  top: 30%;
  left: 30%;
  padding: 50px;
  height: 450px;
  width: 40%;
  background:rgba(255,255,255,0.9);
}

.regBtn{
  margin-left:10px;
  font-weight:bold;
}

#titleBlock{
  position: absolute;
  top: 12%;
  left: 50%;
  text-align:center;
  }

/* #backImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
} */

#signIn, #register {
  text-align: center;
  position: relative;
}

#loginTitle{
  text-align: center;
  position: relative;
  font-size: 26px;
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 50px;
}

.signInBtnStyle{
  color: white;
  width: 75%;
  font-size:20px;
  font-weight:bolder;
  margin-bottom: 20px;
  
}


#signInBtnStyle,
#registerBtnStyle{
  margin: 2px 5px;
  color: black;
}


.homeInput {
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 6%;

}

.gameTitle {
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  font-weight: bold;
  width: 900px;
}

.gameMotto{
  color: white;
  width: 1200px;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  font-weight: bold;
}

.homeHeader {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 36px;
}

#word1{
  color: #9932CC;
}

#word2{
  color: #BDB76B;
}

#word3{
  color: cadetblue;
}


/* ---------------- Text box styling ---------------- */
#DialogContainer {
bottom: 3%;
position: absolute;
right: 3%;
width: 73%;
}

#characterName,
#textBox 
{
  background:rgba(255,255,255,0.8);
  border-radius: 5px;
  border-style: solid;
  border-color: lightslategrey;
  padding-top: 10px;
}

#finalContainer {
  bottom: 1.5%;
  position: absolute;
  left:5%;
  width: 90%;
  }
  

  #finalBox 
  {
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
    border-style: solid;
    border-color: lightslategrey;
    padding: 10px;
    opacity:.85;
    height:190px;
  }


  #skillHeader 
  {
    font-family: 'Press Start 2P', cursive;
    position:absolute;
    left:23%;
    top:1%;
    color:navy;
  }

  #skillBox 
  {
    position:absolute;
    left:10%;
    bottom:20%;
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
    border-style: solid;
    border-color: lightslategrey;
    height:250px;
    width:80%;
    opacity:.85;
  }

  #skillBoxFeedback
  {
    position:absolute;
    left:10%;
    bottom:20%;
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
    border-style: solid;
    border-color: lightslategrey;
  
    opacity:.85;
  }

  .skillOne,
  .skillTwo,
  .skillThree,
  .skillFour,
  .docButton{
    font-size:29px;
    font-family: 'Press Start 2P', cursive;
    position:absolute;
    background-color: transparent;
    border-color: transparent;
  }
  .skillOne{
    left:2%;
    bottom:45%;
  }
  .skillTwo{
    left:40%;
    bottom:45%;
  }
  .skillThree{
    left:2%;
    bottom:12%;
  }
  .skillFour{
    left:40%;
    bottom:12%;
  }


  .mongodUse{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:40px;
    font-weight:bold;
    line-height: 1.2;
    color:firebrick;
    text-transform: uppercase;
  }

  .mongodUseSkill{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:50px;
    font-weight:bold;
    line-height: 1.4;
    margin:10px;
    color:firebrick;
    text-transform: uppercase;
  }

  .skillUse{
    font-family: 'Press Start 2P', cursive;
    line-height: 1.2;
    margin:20px;
    font-size:38px;
    color:cadetblue;
  }

  .battleButton{
    position:absolute;
    bottom:5%;
    right:5%;
    font-size:30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

  .confirmButton{
    position:absolute;
    bottom:5%;
    right:5%;
    font-size:25px;
    font-family: 'Press Start 2P', cursive;
  }

  .challengeButton{
    position:absolute;
    left:35%;
    top:63%;
    margin:5px;
    font-family: 'Press Start 2P', cursive;
  }

  
  .finalButton{
    position:absolute;
    left:40%;
    top:63%;
    margin:5px;
    font-family: 'Press Start 2P', cursive;
  }

#characterName {
  margin-bottom: 10px;
  width: 25%;
  text-align: center;
}

#textBox {
  padding-left: 15px;
}

#actionBox {
  background:rgba(255,255,255,0.8);
  border-radius: 5px;
  border-style: solid;
  border-color: lightslategrey;
  position: absolute;
  bottom: 3%;
  left: 3%;
  padding: 10px;
}


.namePlate{
  font-weight: bolder;
  font-size: 20px;

}

.BG{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -2;
}


/* ----------------------JS---------------------------------- */
#Vu{
    bottom: 0%;
    left: 50%;
    position: absolute;  
}

#JS{
  position:absolute;
  left: 47%;
  top: 53%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#JSWorld{
position:absolute;
  left: 35.5%;
  top: 81%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#JSSprite1,
#JSSprite2,
#JSSprite3,
#JSSprite4,
#JSSprite5{
position: absolute;
width: 5%;
z-index: -1;
}

#JSSprite1{
top: 25%;
left: 15%;
}

#JSSprite2{
top: 20%;
left: 65%;
}

#JSSprite3{
top: 65%;
left: 14%;
}

#JSSprite4{
top: 44%;
left: 61%;
}

#JSSprite5{
top: 58%;
left: 54%;
}


/* ---------------------------REACT--------------------------- */
#Gabe{
  bottom: 0%;
  left: 50%;
  position: absolute;
}

#REACT{
  position: absolute;;
  left: 40.5%;
  top:  72%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#REACTWorld{
position:absolute;
left: 36%;
top: 1%;
font-size:10px;
width: 100px;
height: 100px;
z-index: -1;
}

#REACTSprite1,
#REACTSprite2,
#REACTSprite3,
#REACTSprite4,
#REACTSprite5{
position: absolute;
width: 5%;
z-index: -1;
}

#REACTSprite1{
top: 9%;
left: 30%;
}

#REACTSprite2{
top: 15%;
left: 54%;
}

#REACTSprite3{
top: 35%;
left: 27%;
}

#REACTSprite4{
top: 18%;
left: 85%;
}

#REACTSprite5{
top: 50%;
left: 80%;
}


/* ---------------- HTML Town/House styling ---------------- */
#Jorge{
  bottom: 0%;
  left: 50%;
  position: absolute;
}

#HTML {
  position:absolute;
  left: 35%;
  top: 13%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}
#HTMLWorld {
  position:absolute;
  left: 24%;
  top: 88%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#HTMLSprite1, #HTMLSprite2,
#HTMLSprite3, #HTMLSprite4,
#HTMLSprite5 {
position: absolute;
width: 5%;
z-index: -1;
}
#HTMLSprite1 {
top: 15%;
left: 75%;
}
#HTMLSprite2 {
top: 20%;
left: 30%;
}
#HTMLSprite3 {
top: 44%;
left: 38%;
}
#HTMLSprite4 {
top: 64%;
left: 50%;
}
#HTMLSprite5 {
top: 50%;
left: 75%;
}


/* ---------------- CSS Town/House styling ---------------- */
#adam{
  bottom: 0%;
  left: 50%;
  position: absolute;
}

#CSS{
  position:absolute;
  left: 50.5%;
  top: 52%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}
#CSSWorld {
  position:absolute;
  left: 64%;
  top: 1%;
  font-size:10px;
  width: 100px;
  height:100px;
  z-index: -1;
}


#CSSSprite1, #CSSSprite2,
#CSSSprite3, #CSSSprite4,
#CSSSprite5 {
position: absolute;
width: 7%;
z-index: -1;
}
#CSSSprite1 {
top: 10%;
left: 50%;
}
#CSSSprite2 {
top: 33%;
left: 48%;
}
#CSSSprite3 {
top: 45%;
left: 20%;
}
#CSSSprite4 {
top: 35%;
left: 70%;
}
#CSSSprite5 {
top: 64%;
left: 50%;
}

/* ---------------------------------------------------------- */


#WORLD{
  position:absolute;
  left: 0%;
  margin-top:19%;
  font-size:10px;
  width: 30px;
  height:30px;
  z-index: -1;
}


 /* ---------------- World Map styling ---------------- */
 #WorldMapTitle {
  font-family: 'Press Start 2P', cursive;
  position:absolute;
  left: 0%;
  padding: 10px 10px;
}
#abilities {
  font-family: 'Press Start 2P', cursive;
  position:absolute;
  right: 0%;
  padding: 10px 10px;
}

#JavascriptJunkies,
#RiversOfReact,
#HouseOfHTML,
#CSSCult,
#ForestWorldMap,
#SecretCaveWorldMap,
#WillBucksWorldMap {
  width: 3%;
  position: absolute;
}
#JavascriptJunkies {
  top: 66%;
  left: 68%;
  width: 70px;
  height: 90px;
}
#RiversOfReact {
  top: 47%;
  left: 88%;
  width: 70px;
  height: 90px;
}
#HouseOfHTML {
  top: 18%;
  left: 27%;
  width: 70px;
  height: 90px;
}
#CSSCult {
  top: 65%;
  left: 18%;
  width: 70px;
  height: 90px;
}
#ForestWorldMap {
  top: 13%;
  left: 70%;
  width: 100px;
  height: 80px;
}
#SecretCaveWorldMap {
  top: 35%;
  left: 84%;
  width: 60px;
  height: 60px;
}
#WillBucksWorldMap {
  top: 33%;
  left: 45.5%;
  width: 160px;
}
.JSWorldTitle,
.ReactWorldTitle,
.HTMLWorldTitle,
.CSSWorldTitle,
.ForestWorldTitle,
.SecretCaveWorldTitle,
.WillBucksWorldTitle {
  position: absolute;
  background-color: black;
  color: white;
}
.JSWorldTitle {
  top: 66%;
  left: 62%;
}
.ReactWorldTitle {
  top: 10%;
  left: 23%;
}
.HTMLWorldTitle {
  top: 49%;
  left: 84%;
}
.CSSWorldTitle {
  top: 64%;
  left: 21%;
}
.ForestWorldTitle {
  top: 11%;
  left: 71%;
}
.SecretCaveWorldTitle {
  top: 30%;
  left: 85%;
}


/* -----------------------WillBucks------------------------ */
.WillBucksWorldTitle {
  top: 36%;
  left: 45%;
}

#Will{
  bottom: 0%;
    left: 60%;
    position: absolute;
    height: 600px;
    width: 400px;
    transform: rotate()
}
#Will2{
  top: 35%;
  left: 26%;
  position: absolute;
  height: 270px;
  width: 170px;
  transform: rotate(-16deg);
}

/* --------------------------Secret Lair/Final Forest------------------- */
 #Cody, #kingJacob{
  bottom: 0%;
    left: 50%;
    position: absolute;
  }

  .btn-credits {
    position: relative;
    float: left;
    font-size: 72px;
    padding: 100px;
  }

  #jlBox {
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
    border-style: solid;
    border-color: lightslategrey;
    position: absolute;
    bottom: 3%;
    right: 80%;
    padding: 10px;
  }

  .replayIntro{
    top: 17%;
    right:3%;
    color:white;
    position: absolute;
  }

/* ---------------- House Font styling ---------------- */
.HouseTitles,
.CSSTownTitle,
.ForestTitles{
  font-family: 'Press Start 2P', cursive;
  left: 0;
  padding: 10px 15px;
  top: 1%;
  position: absolute;
  color: black;
  background:rgba(255,255,255,0.8);
  border-radius: 5px;
  }

  .TownTitles {
    font-family: 'Press Start 2P', cursive;
    right: 0;
    padding: 10px 15px;
    top: 1%;
    position: absolute;
    color: black;
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
  }

  .modal-title{
    font-family: 'Press Start 2P', cursive;
  }
  .scrollList {
    list-style-type: none;
  }
  .abilityList {
    list-style-type: none;
    color:darkgreen;
    font-size:12px;
    font-family: 'Press Start 2P', cursive;
  }

  li{
    padding-top:25px;
  }

  .houseScroll{
    position: absolute;
    top: 3%;
    left: 91%;
  }

  .scrollInfoCSS{
    position: absolute;
    top: 15%;
    left: 15%;
    text-align:center;
    font-size:17px;
    color:cadetblue;
    font-weight:bold;
  }

  .scrollInfoJavascript{
    position: absolute;
    top: 15%;
    left: 24%;
    text-align:center;
    font-size:17px;
    color:cadetblue;
    font-weight:bold;
  }

  .scrollInfoHTML{
    position: absolute;
    top: 15%;
    left: 20%;
    text-align:center;
    font-size:17px;
    color:cadetblue;
    font-weight:bold;
  }

  .scrollInfoReact{
    position: absolute;
    top: 15%;
    left: 24%;
    text-align:center;
    font-size:17px;
    color:cadetblue;
    font-weight:bold;
  }

  .xButton{
    position: absolute;
    top: 14%;
    left: 75%;
    font-size:45px;

  }

  .confirm{
    margin-bottom:5px;
  }



  /* -----------------------INTRO---------------------------- */

.introButton{
  margin:5px;
}
  
  .fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: cadetblue;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }

  
  
  .crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 147s linear;
  }
  
  .crawl > .title {
    font-size: 190px;
    text-align: center;
    line-height: .9;
  }

  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -9000px;
      transform: rotateX(25deg) translateZ(-3600px);
    }
  }

  /* -----------------------OUTRO CREDITS--------------------- */
  .credits {
    color: white;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 350%;
    font-weight: 600;
    letter-spacing: 6px;
  }
  
  .outroCrawl {
    position: relative;
    top: 9799px;
    transform-origin: 50% 100%;
    animation: outroCrawl 137s linear;
    text-align: center;
  }

  .outroCrawl > .title {
    line-height: .9  }

  @keyframes outroCrawl {
    
    0% {
      top: 0;
    }
    100% { 
      top: -9800px;
    }
  }

  .wrapper {
    overflow: hidden;
  }

  #monGod {
    position: absolute;
    left: 29%;
    bottom: 5%;
    z-index: -1;
  }
  
  .sliding-background {
    background: url("../src//Backgrounds//SmokeLayer.png") repeat-x;
    height: 1100px;
    width: 5076px;
    animation: slide 30s linear infinite;
    opacity: 0.4;
    background-size: cover;
  }
  
  @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1692px, 0, 0);
    }
  }

  .elementToFadeInAndOut {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fadeinout {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}


.shake-horizontal {
	-webkit-animation: shake-horizontal 0.2s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: shake-horizontal 0.2s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.fadeToBlack {
  background: black;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

.fadeToBlackEnd {
  background: black;
  -webkit-animation: fadeinout 8s linear forwards;
  animation: fadeinout 8s linear forwards;
}

@keyframes fadeinout {
0%,40% { opacity: 1; }
100% { opacity: 0; }
}

.visibleToggle{
  display:none;
}

.errToggle{
  visibility:hidden;
}


.loginErr{
  color:red;
  margin-bottom:25px;
}


.finalDialogue{
  margin-top:100px;
  color:cadetblue;
  text-align:center;
}

.finalDial{
  font-size:100px;
}

.finalBoxDialogue{
  font-size:40px;
  margin-top:100px;
  border-radius:8px;
}

  .text-focus-in {
    -webkit-animation: text-focus-in 7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.docDiv {
 
  position:absolute;
  left:10%;
  bottom:7%;
  background:rgba(255,255,255,0.8);
  border-radius: 5px;
  border-style: solid;
  border-color: lightslategrey;
  height:100px;
  width:80%;
  opacity:.85;
  margin-bottom:20px
  }

  .docButton{
    font-size:70px;
  }

  .flicker-out-1 {
    -webkit-animation: flicker-out-1 6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            animation: flicker-out-1 6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  }


@-webkit-keyframes flicker-out-1 {
  0% {
    opacity: 1;
  }
  13.9% {
    opacity: 1;
  }
  14% {
    opacity: 0;
    box-shadow: none;
  }
  14.9% {
    opacity: 0;
    box-shadow: none;
  }
  15% {
    opacity: 1;
  }
  22.9% {
    opacity: 1;
  }
  23% {
    opacity: 0;
    box-shadow: none;
  }
  24.9% {
    opacity: 0;
    box-shadow: none;
  }
  25% {
    opacity: 1;
  }
  34.9% {
    opacity: 1;
  }
  35% {
    opacity: 0;
    box-shadow: none;
  }
  39.9% {
    opacity: 0;
    box-shadow: none;
  }
  40% {
    opacity: 1;
  }
  42.9% {
    opacity: 1;
  }
  43% {
    opacity: 0;
    box-shadow: none;
  }
  44.9% {
    opacity: 0;
    box-shadow: none;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  54.9% {
    opacity: 1;
  }
  55% {
    opacity: 0;
    box-shadow: none;
  }
  69.4% {
    opacity: 0;
    box-shadow: none;
  }
  69.5% {
    opacity: 1;
  }
  69.9% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    box-shadow: none;
  }
  79.4% {
    opacity: 0;
    box-shadow: none;
  }
  79.9% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    box-shadow: none;
  }
  89.8% {
    opacity: 0;
    box-shadow: none;
  }
  89.9% {
    opacity: 1;
    box-shadow: none;
  }
  90% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flicker-out-1 {
  0% {
    opacity: 1;
  }
  13.9% {
    opacity: 1;
  }
  14% {
    opacity: 0;
    box-shadow: none;
  }
  14.9% {
    opacity: 0;
    box-shadow: none;
  }
  15% {
    opacity: 1;
  }
  22.9% {
    opacity: 1;
  }
  23% {
    opacity: 0;
    box-shadow: none;
  }
  24.9% {
    opacity: 0;
    box-shadow: none;
  }
  25% {
    opacity: 1;
  }
  34.9% {
    opacity: 1;
  }
  35% {
    opacity: 0;
    box-shadow: none;
  }
  39.9% {
    opacity: 0;
    box-shadow: none;
  }
  40% {
    opacity: 1;
  }
  42.9% {
    opacity: 1;
  }
  43% {
    opacity: 0;
    box-shadow: none;
  }
  44.9% {
    opacity: 0;
    box-shadow: none;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  54.9% {
    opacity: 1;
  }
  55% {
    opacity: 0;
    box-shadow: none;
  }
  69.4% {
    opacity: 0;
    box-shadow: none;
  }
  69.5% {
    opacity: 1;
  }
  69.9% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    box-shadow: none;
  }
  79.4% {
    opacity: 0;
    box-shadow: none;
  }
  79.9% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    box-shadow: none;
  }
  89.8% {
    opacity: 0;
    box-shadow: none;
  }
  89.9% {
    opacity: 1;
    box-shadow: none;
  }
  90% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 0;
  }
}

.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 4s linear both;
	        animation: text-flicker-in-glow 4s linear both;
}

 @-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

.fade-in {
	-webkit-animation: fade-in 5s ease-in both;
	        animation: fade-in 5s ease-in both;
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
