/*typewriter */


.typewriter h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space:nowrap;/* Keeps the content on a single line */
  /* overflow-wrap: break-word; */
  margin:0 auto;/* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* ---------------- Log in / register styling ---------------- */
html, body {margin: 0; height: 100%; overflow: hidden}


#homePageStyle {
  border-style: solid;
  border-color: lightslategrey;
  position: fixed;
  top: 30%;
  left: 30%;
  padding: 50px;
  height: 450px;
  width: 40%;
  background:rgba(255,255,255,0.9);
}

.regBtn{
  margin-left:10px;
}

#titleBlock{
  position: fixed;
  top: 18%;
  left: 50%;
  }

/* #backImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
} */

#signIn, #register {
  text-align: center;
  position: relative;
}

#loginTitle{
  text-align: center;
  position: relative;
  font-size: 26px;
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 50px;
}

#signInBtnStyle{
  color: white;
  width: 75%;
  margin-bottom: 30px;
}

#registerBtnStyle{
  top: 50%;
  left:25%;
  text-align: center;
  position: absolute;
  padding-top: 80px;
}

#signInBtnStyle,
#registerBtnStyle{
  margin: 2px 5px;
  color: black;
}


.homeInput {
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 6%;

}

.gameTitle {
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  font-weight: bold;
  width: 900px;
}

.gameMotto{
  color: white;
  width: 1200px;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  font-weight: bold;
}

.homeHeader {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 36px;
}

#word1{
  color: #9932CC;
}

#word2{
  color: #BDB76B;
}

#word3{
  color: cadetblue;
}


/* ---------------- Text box styling ---------------- */
#DialogContainer {
bottom: 3%;
position: absolute;
right: 3%;
width: 73%;
}

#characterName,
#textBox 
{
  background:rgba(255,255,255,0.8);
  border-radius: 5px;
  border-style: solid;
  border-color: lightslategrey;
  padding-top: 10px;
}

#finalContainer {
  bottom: 3%;
  position: absolute;
  left:5%;
  width: 90%;
  }
  

  #finalBox 
  {
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
    border-style: solid;
    border-color: lightslategrey;
    padding: 10px;
    opacity:.85;
    height:185px;
  }


  #skillHeader 
  {
    font-family: 'Press Start 2P', cursive;
    position:absolute;
    left:28%;
    top:1%;
    color:cadetblue;
  }

  #skillBox 
  {
    position:absolute;
    left:10%;
    bottom:20%;
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
    border-style: solid;
    border-color: lightslategrey;
    height:250px;
    width:80%;
    opacity:.85;
  }

  .skillOne,
  .skillTwo,
  .skillThree,
  .skillFour{
    font-size:30px;
    font-family: 'Press Start 2P', cursive;
    position:absolute;
    background-color: transparent;
    border-color: transparent;
  }
  .skillOne{
    left:2%;
    bottom:45%;
  }
  .skillTwo{
    left:40%;
    bottom:45%;
  }
  .skillThree{
    left:2%;
    bottom:12%;
  }
  .skillFour{
    left:40%;
    bottom:12%;
  }

  .skillUse{
    font-family: 'Press Start 2P', cursive;
    line-height: 1.2;
    padding:9px;
    font-size:32px;
    color:cadetblue;
  }

  .mongodUse{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:34px;
    font-weight:bold;
    line-height: 1.2;
    padding:9px;
    color:firebrick;
    text-transform: uppercase;
  }

  .battleButton{
    position:absolute;
    left:40%;
    top:78%;
    font-family: 'Press Start 2P', cursive;
  }

  .challengeButton{
    position:absolute;
    left:40%;
    top:63%;
    font-family: 'Press Start 2P', cursive;
  }

#characterName {
  margin-bottom: 10px;
  width: 25%;
  text-align: center;
}

#textBox {
  padding-left: 15px;
}

#actionBox {
  background:rgba(255,255,255,0.8);
  border-radius: 5px;
  border-style: solid;
  border-color: lightslategrey;
  position: absolute;
  bottom: 3%;
  left: 3%;
  padding: 10px;
}


.namePlate{
  font-weight: bolder;
  font-size: 20px;

}

.BG{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -2;
}


/* ----------------------JS---------------------------------- */
#Vu{
    bottom: 0%;
    left: 50%;
    position: absolute;  
}

#JS{
  position:absolute;
  left: 47%;
  top: 53%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#JSWorld{
position:absolute;
  left: 35.5%;
  top: 81%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#JSSprite1,
#JSSprite2,
#JSSprite3,
#JSSprite4,
#JSSprite5{
position: absolute;
width: 5%;
z-index: -1;
}

#JSSprite1{
top: 25%;
left: 15%;
}

#JSSprite2{
top: 20%;
left: 65%;
}

#JSSprite3{
top: 65%;
left: 14%;
}

#JSSprite4{
top: 44%;
left: 61%;
}

#JSSprite5{
top: 58%;
left: 54%;
}


/* ---------------------------REACT--------------------------- */
#Gabe{
  bottom: 0%;
  left: 50%;
  position: absolute;
}

#REACT{
  position: absolute;;
  left: 40.5%;
  top:  72%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#REACTWorld{
position:absolute;
left: 36%;
top: 1%;
font-size:10px;
width: 100px;
height: 100px;
z-index: -1;
}

#REACTSprite1,
#REACTSprite2,
#REACTSprite3,
#REACTSprite4,
#REACTSprite5{
position: absolute;
width: 5%;
z-index: -1;
}

#REACTSprite1{
top: 9%;
left: 30%;
}

#REACTSprite2{
top: 15%;
left: 54%;
}

#REACTSprite3{
top: 35%;
left: 27%;
}

#REACTSprite4{
top: 18%;
left: 85%;
}

#REACTSprite5{
top: 50%;
left: 80%;
}


/* ---------------- HTML Town/House styling ---------------- */
#Jorge{
  bottom: 0%;
  left: 50%;
  position: absolute;
}

#HTML {
  position:absolute;
  left: 35%;
  top: 13%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}
#HTMLWorld {
  position:absolute;
  left: 24%;
  top: 88%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#HTMLSprite1, #HTMLSprite2,
#HTMLSprite3, #HTMLSprite4,
#HTMLSprite5 {
position: absolute;
width: 5%;
z-index: -1;
}
#HTMLSprite1 {
top: 15%;
left: 75%;
}
#HTMLSprite2 {
top: 20%;
left: 30%;
}
#HTMLSprite3 {
top: 44%;
left: 38%;
}
#HTMLSprite4 {
top: 64%;
left: 50%;
}
#HTMLSprite5 {
top: 50%;
left: 75%;
}


/* ---------------- CSS Town/House styling ---------------- */
#adam{
  bottom: 0%;
  left: 50%;
  position: absolute;
}

#CSS{
  position:absolute;
  left: 50.5%;
  top: 52%;
  font-size:10px;
  width: 100px;
  height: 100px;
  z-index: -1;
}
#CSSWorld {
  position:absolute;
  left: 64%;
  top: 1%;
  font-size:10px;
  width: 100px;
  height:100px;
  z-index: -1;
}


#CSSSprite1, #CSSSprite2,
#CSSSprite3, #CSSSprite4,
#CSSSprite5 {
position: absolute;
width: 7%;
z-index: -1;
}
#CSSSprite1 {
top: 10%;
left: 50%;
}
#CSSSprite2 {
top: 33%;
left: 48%;
}
#CSSSprite3 {
top: 45%;
left: 20%;
}
#CSSSprite4 {
top: 35%;
left: 70%;
}
#CSSSprite5 {
top: 64%;
left: 50%;
}

/* ---------------------------------------------------------- */


#WORLD{
  position:absolute;
  left: 0%;
  margin-top:19%;
  font-size:10px;
  width: 30px;
  height:30px;
  z-index: -1;
}


 /* ---------------- World Map styling ---------------- */
 #WorldMapTitle {
  font-family: 'Press Start 2P', cursive;
  position:absolute;
  left: 0%;
  padding: 10px 10px;
}
#abilities {
  font-family: 'Press Start 2P', cursive;
  position:absolute;
  right: 0%;
  padding: 10px 10px;
}

#JavascriptJunkies,
#RiversOfReact,
#HouseOfHTML,
#CSSCult,
#ForestWorldMap,
#SecretCaveWorldMap,
#WillBucksWorldMap {
  width: 3%;
  position: absolute;
}
#JavascriptJunkies {
  top: 66%;
  left: 68%;
  width: 70px;
  height: 90px;
}
#RiversOfReact {
  top: 47%;
  left: 88%;
  width: 70px;
  height: 90px;
}
#HouseOfHTML {
  top: 18%;
  left: 27%;
  width: 70px;
  height: 90px;
}
#CSSCult {
  top: 65%;
  left: 18%;
  width: 70px;
  height: 90px;
}
#ForestWorldMap {
  top: 13%;
  left: 70%;
  width: 100px;
  height: 80px;
}
#SecretCaveWorldMap {
  top: 35%;
  left: 84%;
  width: 60px;
  height: 60px;
}
#WillBucksWorldMap {
  top: 33%;
  left: 45.5%;
  width: 160px;
}
.JSWorldTitle,
.ReactWorldTitle,
.HTMLWorldTitle,
.CSSWorldTitle,
.ForestWorldTitle,
.SecretCaveWorldTitle,
.WillBucksWorldTitle {
  position: absolute;
  background-color: black;
  color: white;
}
.JSWorldTitle {
  top: 66%;
  left: 62%;
}
.ReactWorldTitle {
  top: 10%;
  left: 23%;
}
.HTMLWorldTitle {
  top: 49%;
  left: 84%;
}
.CSSWorldTitle {
  top: 64%;
  left: 21%;
}
.ForestWorldTitle {
  top: 11%;
  left: 71%;
}
.SecretCaveWorldTitle {
  top: 30%;
  left: 85%;
}


/* -----------------------WillBucks------------------------ */
.WillBucksWorldTitle {
  top: 36%;
  left: 45%;
}

#Will{
  bottom: 0%;
    left: 60%;
    position: absolute;
    height: 600px;
    width: 400px;
    transform: rotate()
}
#Will2{
  top: 35%;
  left: 26%;
  position: absolute;
  height: 270px;
  width: 170px;
  transform: rotate(-16deg);
}

/* --------------------------Secret Lair------------------- */
 #Cody{
  bottom: 0%;
    left: 50%;
    position: absolute;
  }


/* ---------------- House Font styling ---------------- */
.HouseTitles,
.CSSTownTitle,
.ForestTitles{
  font-family: 'Press Start 2P', cursive;
  left: 0;
  padding: 10px 15px;
  top: 1%;
  position: absolute;
  color: black;
  background:rgba(255,255,255,0.8);
  border-radius: 5px;
  }

  .TownTitles {
    font-family: 'Press Start 2P', cursive;
    right: 0;
    padding: 10px 15px;
    top: 1%;
    position: absolute;
    color: black;
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
  }

  .scrollList {
    list-style-type: none;
  }

  li{
    padding-top:25px;
  }

  .houseScroll{
    position: absolute;
    top: 3%;
    left: 91%;
  }

  .scrollInfoCSS{
    position: absolute;
    top: 15%;
    left: 15%;
    text-align:center;
    font-size:17px;
    color:cadetblue;
    font-weight:bold;
  }

  .scrollInfoJavascript{
    position: absolute;
    top: 15%;
    left: 24%;
    text-align:center;
    font-size:17px;
    color:cadetblue;
    font-weight:bold;
  }

  .scrollInfoHTML{
    position: absolute;
    top: 15%;
    left: 20%;
    text-align:center;
    font-size:17px;
    color:cadetblue;
    font-weight:bold;
  }

  .scrollInfoReact{
    position: absolute;
    top: 15%;
    left: 24%;
    text-align:center;
    font-size:17px;
    color:cadetblue;
    font-weight:bold;
  }

  .xButton{
    position: absolute;
    top: 14%;
    left: 75%;
    font-size:45px;

  }

  .confirm{
    margin-bottom:5px;
  }



  /* -----------------------INTRO---------------------------- */

  /* body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
  } */
  
  .fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: cadetblue;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 150s linear;
  }
  
  .crawl > .title {
    font-size: 190px;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -9000px;
      transform: rotateX(25deg) translateZ(-3600px);
    }
  }

  .wrapper {
    overflow: hidden;
  }

  #monGod {
    position: absolute;
    left: 29%;
    bottom: 5%;
    z-index: -1;
  }
  
  .sliding-background {
    background: url("../src//Backgrounds//SmokeLayer.png") repeat-x;
    height: 1100px;
    width: 5076px;
    animation: slide 30s linear infinite;
    opacity: 0.4;
    background-size: cover;
  }
  
  @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1692px, 0, 0);
    }
  }