.tile {
    display: inline-flex;
    background-color: transparent;
}

.row {
    margin-left: 0px;
}

.grass {
    background-color: transparent;
}

.rock {
    background-image: url('/Tiles/Rocks.png');
}

.worldMapPortal,
.cssHousePortal,
.htmlHousePortal,
.jsHousePortal,
.reactHousePortal {
    background-image: url('../../SVG/portal.png');
}

.actionTile {
    background-image: url('../Player/A1.png');
    background-position: 0px 120px;
}
