.tile {
    display: inline-flex;
    background-color: transparent;
}

.grass {
    background-color: transparent;
}

.rock {
    background-image: url('/Tiles/Rocks.png');
}

.tree {
    background-image: url('/Tiles/Tree1.png');
}