.Barry {
    position: absolute;
    top: 280px;
    left: 920px;
    background-Image: url('./Sprites/Barry.png');
    background-Position: 0px 0px;
    width: 40px;
    height: 40px;
}

.Lin {
    position: absolute;
    top: 640px;
    left: 480px;
    background-Image: url('./Sprites/Lin.png');
    background-Position: 0px 40px;
    width: 40px;
    height: 40px;
}

.Manny {
    position: absolute;
    top: 120px;
    left: 320px;
    background-Image: url('./Sprites/Manny.png');
    background-Position: 0px 80px;
    width: 40px;
    height: 40px;
}

.Tim {
    position: absolute;
    top: 40px;
    left: 1040px;
    background-Image: url('./Sprites/Tim.png');
    background-Position: 0px 0px;
    width: 40px;
    height: 40px;
}

.Jenny {
    position: absolute;
    top: 280px;
    left: 320px;
    background-Image: url('./Sprites/Jenny.png');
    background-Position: 0px 0px;
    width: 40px;
    height: 40px;
}

.Adam {
    position: absolute;
    top: 360px;
    left: 600px;
    background-Image: url('./Sprites/Adam.png');
    background-Position: 0px 0px;
    width: 40px;
    height: 40px;
}

.CSSGuard {
    position: absolute;
    top: 80px;
    left: 920px;
    background-Image: url('./Sprites/CSSGuard.png');
    background-Position: 0px 120px;
    width: 40px;
    height: 40px;
}