.htmlMark {
    position: 'absolute';
    background-image: url('../../NPCs/lilSnaccs/Paige.png');
    background-position: 0 0;
    width: 40px;
    height: 40px;
    top: 1040px;
    right: 120px;
}
