.leaveDia {
    position: 'relative';
    top: 0px;
    left: 0px;
    width: 160px;
    height: 80px;
}

#avatar{
    bottom: 0%;
    left: 70%;
    position: absolute;
  }

  .nameTag{
      background:rgba(95,158,160,0.7);
      font-weight:bolder;
      padding:5px;
  }