.Paige {
    position: absolute;
    top: 120px;
    left: 1040px;
    background-Image: url('./Sprites/Paige.png');
    background-Position: 0px 0px;
    width: 40px;
    height: 40px;
}

.Paige2 {
    position: absolute;
    top: 120px;
    left: 480px;
    background-Image: url('./Sprites/Paige.png');
    background-Position: 0px 120px;
    width: 40px;
    height: 40px;
}